<!DOCTYPE html>
<html lang='ru'>
  <head>
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" /> -->
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}TableFilter/filtergrid.css" /> -->
    <script src="{{ STATIC_URL }}TableFilter/tablefilter_all_min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <title>{% block title %}{% endblock %} - Сервис информации по выборам и кандидатам</title>
  </head>
<body>
  
  {% block content %}{% endblock %}

<footer>
    <div class="container">
        <div class='row text-center'>
          <script type="text/javascript" src="//yandex.st/share/share.js"
          charset="utf-8"></script>
          <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
        </div>
        <div class="row">
            <div class="well text-center">
                <a href="http://kulikovpavel.ru">Создание сайта</a>
                ||
                <a href="mailto:kulikovpavel@gmail.com?subject=По сайту выборов" target="_blank">Связаться</a>
                ||
                <a href="http://kulikovpavel.ru/public/help/" target="_blank">Помочь морально или материально :)</a>

            </div>
        </div>

    </div>
</footer>

</body>
</html>
