{% extends "elections_app/base.html" %}

{% block title %}Выборы и кандидаты{% endblock %}
{% block content %}
<p><a class='btn btn-primary' href="{% url 'infos' %}">Все данные по всем кандидатам</a></p>

{% include "elections_app/paginate.html" %}

<table id="election_list" class="table">
  <thead>
    <th>Наименование</th>
    <th>Дата голосования</th>
    <th>Ссылка на официальный сайт</th>
    <th>Число кандидатов</th>
  </thead>
  <tbody>
    {% for election in object_list %}
    <tr>
        <td><a href='{% url 'election' election.id %}'>{{ election.name }}</a></td>
        <td>{{ election.date}}</td>
        <td><a href="{{ election.url }}">link</a></td>
        <td>{{ election.info_set.count}}
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  var props = {
      filters_row_index: 1,
      sort: true,
      remember_grid_values: true,
      alternate_rows: true,
      rows_counter: true,
      rows_counter_text: "Displayed rows: ",
      btn_reset: true,
      btn_reset_text: "Clear",
      btn_text: " > ",
      loader: true,
      loader_text: "Filtering data...",
      col_1: "select",
      display_all_text: "< Показать все >",
      sort_select: true,
      base_path: '{{ STATIC_URL }}TableFilter/'
  };
  var tf1 = setFilterGrid("election_list", props);
</script>
{% endblock %}
