{% extends "elections_app/base.html" %}
{% block title %}Список всех кандидатов и выборов{% endblock %}

{% block content %}
<p><a class='btn btn-primary' href="{% url 'home' %}">Главная страница</a></p>

<form action="" method="get">
  <p>Для фильта используйте несколько полей ниже, не в таблице. Тогда все данные будут на одной странице, доступные для динамического фильтра</p>
  <label><input name='person_name' type='text' placeholder="Иванов"/>ФИО</label>
  <label><input name='election_name' type='text' placeholder="Истринс"/>Выборы</label>
  <input class='btn btn-success'type="submit" />
</form>

{% if is_paginated %}
  <div class="pagination">
      <span class="page-links">
          {% if page_obj.has_previous %}
              <a class='btn btn-info btn-xs' href="/all?page={{ page_obj.previous_page_number }}">назад</a>
          {% endif %}
          <span class="page-current">
              Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
              <a class='btn btn-info btn-xs' href="/all?page={{ page_obj.next_page_number }}">вперед</a>
          {% endif %}
      </span>
  </div>
{% endif %}

<table id="infos">
  <thead>
    <th>ФИО</th>
    <th>Дата рождения</th>
    <th>Выборы</th>
    <th>Дата голосования</th>
    <th>Участвовал раз</th>
    <th>Округ</th>
    <th>Кем выдвинут</th>
    <th>Место жительства</th>
    <th>Образование</th>
    <th>Место работы</th>
    <th>Должность</th>
    <th>Депутат</th>
    <th>Судимость</th>
    <th>Статус</th>
    <th>Ссылка</th>
    <th>Создан</th>
    <th>Обновлен</th>
  </thead>

  <tbody>
    {% for item in object_list %}
    <tr>
        <td><a href='{% url 'person' item.person.id %}'>{{ item.person.name }}</a></td>
        <td>{{ item.person.birthdate }}</td>
        <td><a href='{% url 'election' item.election.id %}'>{{ item.election.name }}</a></td>
        <td>{{ item.election.date }}</td>
        <td>{{ item.person.info_set.count}}</td>
        <td>{{ item.district }}</td>
        <td>{{ item.party }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.edu }}</td>
        <td>{{ item.firm }}</td>
        <td>{{ item.job }}</td>
        <td>{{ item.dep }}</td>
        <td>{{ item.criminal }}</td>
        <td>{{ item.status }}</td>
        <td><a href="{{ item.url }}">link</a></td>

        <td>{{ item.created_at }}</td>
        <td>{{ item.updated_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  var props = {
      filters_row_index: 1,
      sort: true,
      remember_grid_values: true,
      alternate_rows: true,
      rows_counter: true,
      rows_counter_text: "Displayed rows: ",
      btn_reset: true,
      btn_reset_text: "Clear",
      btn_text: " > ",
      loader: true,
      loader_text: "Filtering data...",
      col_3: "select",
      col_4: "select",
      col_5: "select",
      display_all_text: "< Показать все >",
      base_path: '{{ STATIC_URL }}TableFilter/'

  };
  var tf1 = setFilterGrid("infos", props);
</script>
{% endblock %}
