{% extends "elections_app/base.html" %}

{% block title %}Кандидат {{ object }}{% endblock %}

{% block content %}
<p><a class='btn btn-primary' href="{% url 'home' %}">Главная страница</a></p>

<h2>{{ object.name}} - {{ object.birthdate}}</h2>

<table id="election_detail">
  <thead>
    <th>Название выборов</th>
    <th>Дата проведения</th>
    <th>Округ</th>
    <th>Кем выдвинут</th>
    <th>Место жительства</th>
    <th>Образование</th>
    <th>Место работы</th>
    <th>Должность</th>
    <th>Депутат</th>
    <th>Судимость</th>
    <th>Статус</th>
    <th>Ссылка</th>
    <th>Создан</th>
    <th>Обновлен</th>
  </thead>
  <tbody>
    {% for item in object.info_set.all %}
    <tr>
        <td><a href='{% url 'election' item.election.id %}'>{{ item.election.name }}</a></td>
        <td>{{ item.election.date }}</td>
        <td>{{ item.district }}</td>
        <td>{{ item.party }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.edu }}</td>
        <td>{{ item.firm }}</td>
        <td>{{ item.job }}</td>
        <td>{{ item.dep }}</td>
        <td>{{ item.criminal }}</td>
        <td>{{ item.status }}</td>
        <td><a href="{{ item.url }}">link</a></td>

        <td>{{ item.created_at }}</td>
        <td>{{ item.updated_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  var props = {
      filters_row_index: 1,
      sort: true,
       sort_config: {
           sort_types:['String','String','US','US','US','US','US','US','US']
       },
      remember_grid_values: true,
      alternate_rows: true,
      rows_counter: true,
      rows_counter_text: "Displayed rows: ",
      btn_reset: true,
      btn_reset_text: "Clear",
      btn_text: " > ",
      loader: true,
      loader_text: "Filtering data...",
      //col_0: "select",
      //col_1: "select",
      col_2: "select",
      // col_9: "none",
      display_all_text: "< Показать все >",
      sort_select: true,
      base_path: '{{ STATIC_URL }}TableFilter/'
  };
  var tf1 = setFilterGrid("election_detail", props);
</script>
{% endblock %}
